body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #435892;
}

.container {
    background-color: #bcaa8a;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px;
    text-align: center;
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
    
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #F2EEE7;
    border-radius: 5px;
}

button {
    background: #28a745;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #28a745;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #eee;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    color: white;
    border: none;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

li button:hover {
    background: red;
}
